Package: com.chilaxan.cuboid
Name: Cuboid
Depiction: https://idevicehacked.com/depictions/?p=com.chilaxan.cuboid
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: chilaxan
Author: chilaxan
Section: Tweaks
